* {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

body {
    background-color: rgba(37, 37, 172, 0.726);

}

.question {
    font-size: 30px;
    margin-top: 10px;
}

body.correct {
    background-color: rgb(5, 90, 5);

}

body.wrong {
    background-color: rgb(168, 11, 11);
}

section#start-section button {
    padding: 30px;
    width: 70%;
    margin: 20px 0 20px;
    background-color: rgb(15, 153, 15);
    cursor: pointer;
}

.content {
    background-color: white;
    width: 500px;
    margin: 80px auto;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.content header {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.123);
}

.content .options {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    gap: 10px;
}

.content button {
    width: 70%;
    cursor: pointer;
    /* padding: 30px; */
    height: 80px;
    border: none;
    background-color: rgba(14, 14, 146, 0.788);
    border-radius: 8px;
    margin-top: 20px;
}

.content button {
    border-radius: 8px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.212);
}

button.correct {
    background-color: rgb(5, 90, 5);
}

button.wrong {
    background-color: rgb(168, 11, 11);
}

.content .next {
    color: black;
    font-weight: 500;
    text-shadow: none;
    float: right;
    margin-right: 35px;
    border: none;
    background-color: rgb(7, 211, 7);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
    width: 34%;
    height: 50px;
}

.hide {
    display: none;
}

.content button.start-btn {
    margin-left: 50%;
    width: 100%;
}
